<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enjoytrip.file.model.mapper.FileMapper">

    <!-- 파일 경로 저장 -->
    <insert id="insertFile">
        INSERT INTO files (file_path) VALUES (#{filePath})
    </insert>

</mapper>
