<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enjoytrip.schedule.model.mapper.ScheduleMapper">

    <resultMap type="scheduleDto" id="schedule">
        <result column="schedule_id" property="scheduleId"/>
        <result column="user_email" property="userEmail"/>
        <result column="schedule_name" property="scheduleName"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <resultMap type="scheduleAttractionDto" id="scheduleAttraction">
        <result column="schedule_attraction_id" property="scheduleAttractionId"/>
        <result column="title" property="title"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="first_image1" property="firstImage1"/>
        <result column="first_image2" property="firstImage2"/>
        <result column="schedule_id" property="scheduleId"/>
        <result column="sequence_order" property="sequenceOrder"/>
    </resultMap>

    <insert id="createSchedule" parameterType="scheduleDto">
        INSERT INTO schedules(user_email, schedule_name, start_date, end_date)
        VALUES (#{userEmail}, #{scheduleName}, #{startDate}, #{endDate})
    </insert>

    <select id="getLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="listSchedule" parameterType="String" resultMap="schedule">
        SELECT schedule_id, user_email, schedule_name, start_date, end_date, created_at
        FROM schedules
        WHERE user_email=#{userEmail}
    </select>
    
    <update id="updateSchedule" parameterType="scheduleDto">
        UPDATE schedules
        SET schedule_name=#{scheduleName}, start_date=#{startDate}, end_date=#{endDate}
        WHERE schedule_id=#{scheduleId};
    </update>

    <delete id="deleteSchedule" parameterType="int">
        DELETE FROM schedules
        WHERE schedule_id=#{scheduleId};
    </delete>

    <select id="getMaxSequence" parameterType="int">
        SELECT COALESCE(MAX(sequence_order), -1) AS max_sequence
        FROM schedule_attractions
        WHERE schedule_id = #{scheduleId};
    </select>

    <insert id="createAttractionToSchedule" parameterType="scheduleAttractionInsertRequestDto">
        INSERT INTO schedule_attractions (schedule_id, attraction_id, sequence_order)
        VALUES (#{scheduleId}, #{attractionId}, #{sequenceOrder});
    </insert>

    <insert id="createAttractionToScheduleByList">
        INSERT INTO schedule_attractions (schedule_id, attraction_id, sequence_order)
        VALUES
        <foreach collection="attractions" item="attraction" index="index" separator=",">
            (#{scheduleId}, #{attraction.no}, #{index})
        </foreach>
    </insert>

    <select id="listScheduleAttractions" parameterType="int" resultMap="scheduleAttraction">
        SELECT sa.schedule_attraction_id, at.title, at.latitude, at.longitude, at.first_image1, at.first_image2, sa.schedule_id, sa.sequence_order, at.addr1, at.addr2
        FROM attractions at
        INNER JOIN schedule_attractions sa ON at.no = sa.attraction_id
        WHERE sa.schedule_id = #{scheduleId}
    </select>

    <select id="getScheduleName" parameterType="int">
        SELECT schedule_name
        FROM schedules
        WHERE schedule_id = #{scheduleId}
    </select>

    <update id="updateSequenceOrder">
        UPDATE schedule_attractions
        SET sequence_order = #{sequenceOrder}
        WHERE schedule_attraction_id = #{scheduleAttractionId};
    </update>
    
    <delete id="deleteAttractionFromSchedule" parameterType="int">
        DELETE FROM schedule_attractions
        WHERE schedule_attraction_id = #{scheduleAttractionId};
    </delete>

</mapper>